@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");

body {
  margin: 0;
  background-color: white;
}

canvas {
  width: 16rem;
  height: 25rem;
  display: block;
  border: none;
}

.btn-custom {
    font-size: 20px;
    font-weight: bold;
    padding-left: 0px;
}

.border-custom {
    border-bottom: 2px solid black;
    border-radius: 2px;
    padding: 10px;
}

.nav-item-custom {
    font-weight: bold;
}

.text-custom {
    font-weight: bold;
}

li {
  list-style-type: none;
}

